{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="studio-subsection">
    <h1>{{ .Title }}</h1>

    <div class="essay-list">
        {{ $weighted   := where .Pages "Params.weight" "ne" nil }}
        {{ $unweighted := where .Pages "Params.weight" nil }}
        {{ range union (sort $weighted "Params.weight" "asc") $unweighted }}
        {{ $permalink := .RelPermalink }}
        {{ $title := .Title }}
        <article class="essay-preview{{ with .Params.thumbnail }} essay-preview--with-thumb{{ end }}">
            {{ with .Params.thumbnail }}
            <a href="{{ $permalink }}" class="article-thumb-link" tabindex="-1" aria-hidden="true">
                <img class="article-thumb" src="{{ . }}" alt="">
            </a>
            {{ end }}
            <div class="article-preview__body">
                <h2><a href="{{ $permalink }}">{{ $title }}</a></h2>
                {{ with .Params.description }}
                <p>{{ . }}</p>
                {{ end }}
            </div>
        </article>
        {{ end }}
    </div>
</main>
{{ end }}
