<div class="caption-block">
    <h2>{{ .Title }}</h2>
    {{- $sub := .Params.substrate -}}
    {{- if reflect.IsSlice $sub }}{{ $sub = index $sub 0 }}{{ end -}}
    <p class="caption-medium">{{ with index .Params.media 0 }}{{ . | lower }}{{ end }}{{ with $sub }} on {{ . | lower }}{{ end }}</p>
    <p class="caption-dimensions">{{ .Params.dimensions }}</p>
    <p class="caption-status">{{ with index .Params.statuses 0 }}{{ . | title }}{{ end }}</p>

    {{ if or .Params.forms .Params.themes }}
    <div class="caption-taxonomies">
        {{ range .Params.forms }}
        <a href="/forms/{{ . | urlize }}/" class="tax-link">{{ . }}</a>
        {{ end }}
        {{ range .Params.themes }}
        <a href="/themes/{{ . | urlize }}/" class="tax-link">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>
