<div class="caption-block">
    <h2>{{ .Title }}</h2>
    <p class="caption-medium">{{ .Params.media | lower }}{{ with .Params.substrate }} on {{ . | lower }}{{ end }}</p>
    <p class="caption-dimensions">{{ .Params.dimensions }}</p>
    <p class="caption-status">{{ .Params.statuses | title }}</p>

    {{ if or .Params.forms .Params.themes }}
    <div class="caption-taxonomies">
        {{ range .Params.forms }}
        <a href="/forms/{{ . | urlize }}/" class="tax-link">{{ . }}</a>
        {{ end }}
        {{ range .Params.themes }}
        <a href="/themes/{{ . | urlize }}/" class="tax-link">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>
