<div class="work-card {{ range .Params.forms }}form-{{ . | urlize }} {{ end }}status-{{ .Params.statuses | urlize }}"
     data-form="{{ if .Params.forms }}{{ delimit .Params.forms " " }}{{ end }}"
     data-status="{{ .Params.statuses }}"
     data-order="{{ .Params.order }}"
     data-title="{{ .Title }}">

    <a href="{{ .RelPermalink }}">
        {{ with .Params.image }}
        <img src="/images/portfolio/{{ . }}" alt="{{ $.Title }}">
        {{ end }}

        <div class="card-caption">
            <h3>{{ .Title }}</h3>
            <p class="card-medium">{{ .Params.media }}</p>
            <p class="card-dimensions">{{ .Params.dimensions }}</p>
            <span class="status-indicator status-{{ .Params.statuses | urlize }}" aria-label="{{ .Params.statuses | title }}"></span>
        </div>
    </a>
</div>
